/* * Global */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::selection {
  background-color: rgba(255, 255, 255, 0.1);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0, 10, 19);
  min-height: 100vh;
}

/* % CONTENT */

/* * Icons */

.icons {
  color: white;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  transition: color 0.3s;
}

.icons i {
  margin: 1rem;
}

i:hover {
  transition: color 0.3s;
  color: rgb(0, 255, 157);
  cursor: pointer;
}
.active {
  color: rgb(0, 255, 157);
}

/* * Cronometro */

.glass {
  border-radius: 20px;
  backdrop-filter: blur(15px);
  padding: 2rem;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  transition: padding 1s;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), inset 0 -5px 5px rgba(0, 0, 0, 0.1),
    0 10px 15px rgba(0, 0, 0, 0.1);
}

.glass:hover {
  padding: 5rem;
}

.opcs {
  border: 0;
  text-align: center;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
  padding: 2em;
  backdrop-filter: blur(15px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), inset 0 -5px 5px rgba(0, 0, 0, 0.1),
    0 10px 15px rgba(0, 0, 0, 0.1);
  display: block;
  transition: padding 2s;
}
.opcs:hover {
  padding: 2em 10em;
  transition: padding 1s;
}

.time {
  gap: 20px;
  display: flex;
}
.time h1 {
  color: rgb(255, 255, 255);
}

.botaoStart {
  margin-top: 20px;
  border-radius: 100px;
  box-shadow: inset 5px 0px 50px -1px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.botaoStart:hover {
  background-color: rgba(255, 255, 255, 0.096);
  border-radius: 100px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), inset 0 -5px 5px rgba(0, 0, 0, 0.1),
    0 10px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.3s;
}

.botaoStart button {
  background: none;
  border: none;
}

span i {
  font-size: 36px;
  color: rgb(255, 255, 255);
}

#hour {
  padding: 0.5em;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), inset 0 -5px 5px rgba(0, 0, 0, 0.1),
    0 10px 15px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
#min {
  padding: 0.5em;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), inset 0 -5px 5px rgba(0, 0, 0, 0.1),
    0 10px 15px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
#sec {
  padding: 0.5em;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), inset 0 -5px 5px rgba(0, 0, 0, 0.1),
    0 10px 15px rgba(0, 0, 0, 0.1);
}

/* *Alarme */

input[type="number"] {
  width: 5em;
  height: 2.5em;
  padding: 12px 20px;
  margin: 0px 0;
  box-sizing: border-box;
  font-size: 2em;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), inset 0 -5px 5px rgba(0, 0, 0, 0.1),
    0 10px 15px rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0);
  border-radius: 15px;
  border: 0px solid transparent;
  color: white;
  transition: 0.3s;
}

input[type="number"]:focus {
  background-color: rgba(255, 255, 255, 0.096);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), inset 0 -5px 5px rgba(0, 0, 0, 0.1),
    0 10px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  border: 1px solid transparent;
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  margin: -2px;
  padding: 10px;
}
