* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h2 {
  padding: 2rem;
  justify-content: center;
  text-align: center;
}

.container {
  height: 100%;
  text-align: center;
  padding: 20px;
}

body,
html {
  width: 100%;
  height: 100%;
}

input {
  display: block;
  margin: 0 auto;
  padding: 10px 15px;
  width: 16rem;
  border: 1px solid black;
  border-radius: 5px;
}

input {
  display: block;
  margin: 0 auto;
  padding: 10px 15px;
  width: 16rem;
  border: 1px solid black;
  border-radius: 5px;
}

#labelDivId > label {
  text-transform: uppercase;
  font-size: 20px;
}

.green {
  border: 0;
  color: #ffffff;
  background: #10d810;
  font-weight: bold;
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
}
.red {
  border: 0;
  color: #ffffff;
  background: #ff0000;
  font-weight: bold;
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
}
.blue {
  border: 0;
  color: #ffffff;
  background: #275cce;
  font-weight: bold;
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
}

.orange {
  border: 0;
  color: #ffffff;
  background: #db621c;
  font-weight: bold;
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
}

.purple {
  border: 0;
  color: #ffffff;
  background: #5f1cdb;
  font-weight: bold;
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
}

#inputDivId,
.lista {
  margin: 0 0 15px;
  text-align: center;
  padding: 20px;
  position: relative;
}

select {
  margin-top: auto;
  margin: auto;
  width: 100%;
  display: block;
  border: 1px solid black;
  border-radius: 2rem;
}

.op {
  border: 0;
  color: #ffffff;
  background: #5c5c5c;
  font-weight: bold;
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.igual {
  border: 0;
  color: #ffffff;
  background: #5c5c5c;
  font-weight: bold;
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: 0.3s;
  width: 16.3rem;
  display: block;
  margin: auto;
}

.nums {
  padding: 1rem;
  margin: auto;
  margin-top: 1rem;
}

#resultado {
  font-size: 2rem;
  background-color: rgba(129, 129, 129, 0.473);
  width: 16.2rem;
  border-radius: 4px;
  margin-top: 1rem;
}

.opinput {
  border: 0;
  color: #ffffff;
  background: #5c5c5c;
  font-weight: bold;
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 4px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.3s;
  width: 16.1rem;
}

.divInputs {
  margin: auto;
  width: 2rem;
}

.opmedias {
  border: 0;
  color: #ffffff;
  background: #5c5c5c;
  font-weight: bold;
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 4px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.3s;
  width: 16.1rem;
  display: block;
  margin: auto;
  margin-top: 1rem;
}
.opreset {
  border: 0;
  color: #ffffff;
  background: #5c5c5c;
  font-weight: bold;
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 4px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.3s;
  width: 16.1rem;
  display: block;
  margin: auto;
  margin-top: 1rem;
}

.md {
  margin-top: 1rem;
  font-size: 20px;
}

#mediaFinal {
  font-size: 20px;
}

#fechamentoLabelId {
  background-color: rgba(128, 128, 128, 0.26);
  padding: 2rem;
}

#modes {
  text-align: left;
}

.form-check {
  text-align: right;
  padding: 2rem;
  margin: 2rem;
}

#icon {
  font-size: 2rem;
}
